* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 50px 0px 50px 0px;
}

.page-title {
    color: white;
    margin-bottom: 5px;
}

.page-subtitle {
    color: white;
    margin-bottom: 20px;
}

.valor-convertido {
    margin-bottom: 20px;
}

h1,
h2 {
    color: #ffffff;
    font-size: 30px;
}

input::placeholder {
    color: white;
}

button,
input {
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    background: black;
    cursor: pointer;
    margin-bottom: 20px;
}

img {
    width: auto;
    height: 400px;
}